
*{
  box-sizing: border-box;
}


body {
  margin: 0;
  font-family: 'Space Mono', 'Inter', 'Karla', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#app-title{
  text-align: center;
  font-size: 2rem;
  letter-spacing: 3px;
  text-shadow: 0 3px 3px rgb(0 0 0 / 40%), 0 8px 13px rgb(0 0 0 / 10%), 0 13px 18px rgb(0 0 0 / 40%);
  margin: 0;
  padding: 2rem 0;
  background: gray;
  color: #eff5ff;
  text-transform: uppercase;
}

.card{
    border: 3px solid black;
    min-width: 20rem;
    border-radius: 5px;
    margin:0.5rem;
}

.content{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 2rem;
}


@media screen and (max-width: 700px){
.content {
    flex-direction: column;
    align-items: center;
}

.card{
  width:100%;
   
}
}

#editor, #preview{
  display: block;
  width: 100%;
  overflow-y: auto;
  resize: none;
  height: 65vh;
  padding: 1rem;

}

#editor{
  font-size: 0.85em;
}

textarea{
  border: none;
  outline:none;
}


#preview{
  overflow-wrap: break-word;
  text-align: left;
  white-space: pre;
}

#preview h1, #preview h2 {
 border-bottom: 1px solid #ccc;
}

#preview h1{
  font-size: 2em;
}

#preview h2{
font-size: 1.5em;
}

#preview h3{
font-size: 1em;
font-weight: bold;
}

#preview code, #preview code > span {
  background-color: lightgrey;
}

pre {
   background-color: lightgrey;
}

#preview img{
  display: block;
  width: 100%;
}

#preview blockquote{
    border-left: 3px solid rgb(75, 73, 73);
    color: rgb(75, 73, 73);
    padding-left: 5px;
    margin-left: 25px;
    margin-bottom: 0;
    white-space: normal;
}

#preview p{
  margin:0;
  padding: 0;
  white-space: normal;
}


#preview ul, #preview ol{
  white-space: normal;
}

table, th, td {
  border: 1px solid;
}

th {background: lightgray}
tr:nth-child(even) {background: lightgray}
tr:nth-child(odd) {background: #FFF}





